In [1]:
import pandas as pd

DatetimeIndex(['2013-09-01', '2013-09-02', '2013-09-03', '2013-09-04',
               '2013-09-05', '2013-09-06', '2013-09-07', '2013-09-08',
               '2013-09-09', '2013-09-10', '2013-09-11', '2013-09-12',
               '2013-09-13', '2013-09-14', '2013-09-15', '2013-09-16',
               '2013-09-17', '2013-09-18', '2013-09-19', '2013-09-20',
               '2013-09-21', '2013-09-22', '2013-09-23', '2013-09-24',
               '2013-09-25', '2013-09-26', '2013-09-27', '2013-09-28',
               '2013-09-29', '2013-09-30'],
              dtype='datetime64[ns]', freq='D')

In [3]:
df = pd.DataFrame()
df['date'] = pd.date_range('09-01-2013', '09-30-2013')

In [8]:
a = sorted(df.date)[0]

In [9]:
b = sorted(df.date)[-1]

In [11]:
pd.DataFrame(pd.date_range(a, b), columns=['date'])

         date
0  2013-09-01
1  2013-09-02
2  2013-09-03
3  2013-09-04
4  2013-09-05
5  2013-09-06
6  2013-09-07
7  2013-09-08
8  2013-09-09
9  2013-09-10
10 2013-09-11
11 2013-09-12
12 2013-09-13
13 2013-09-14
14 2013-09-15
15 2013-09-16
16 2013-09-17
17 2013-09-18
18 2013-09-19
19 2013-09-20
20 2013-09-21
21 2013-09-22
22 2013-09-23
23 2013-09-24
24 2013-09-25
25 2013-09-26
26 2013-09-27
27 2013-09-28
28 2013-09-29
29 2013-09-30

In [4]:
df

         date
0  2013-09-01
1  2013-09-02
2  2013-09-03
3  2013-09-04
4  2013-09-05
5  2013-09-06
6  2013-09-07
7  2013-09-08
8  2013-09-09
9  2013-09-10
10 2013-09-11
11 2013-09-12
12 2013-09-13
13 2013-09-14
14 2013-09-15
15 2013-09-16
16 2013-09-17
17 2013-09-18
18 2013-09-19
19 2013-09-20
20 2013-09-21
21 2013-09-22
22 2013-09-23
23 2013-09-24
24 2013-09-25
25 2013-09-26
26 2013-09-27
27 2013-09-28
28 2013-09-29
29 2013-09-30